<div style="text-align:left">
  <h1>Gestão de Materiais</h1>
  <nav>
    <a (click)="criarMaterialHTML()">Criar Material</a>
    <a (click)="editarMaterialHTML()">Editar Material</a>
    <a (click)="listarMateriaisHTML()">Listar Materiais</a>
  </nav>

  <div *ngIf="statusMessage; else noError">
    <div class="errorMsg">{{statusMessage}}</div>
  </div>

  <ng-template #noError>
    <div *ngIf="criarMaterial" style="text-align: left">
      <h2>Criar Material</h2>
      <mat-form-field>
        <input matInput placeholder="Nome do Material" #materialNomeUpdate>
      </mat-form-field>
      <p></p>
      <div style="text-align:left">
        <nav>
          <a (click)="addMaterialHTML(materialNome.value); materialNome.value=''">Criar Material</a>
        </nav>
      </div>
    </div>

    <div *ngIf="editarMaterial" style="text-align: left">
      <h2>Editar Material</h2>
      <mat-form-field>
        <mat-select placeholder="Lista de Materiais" [(ngModel)]="selectedMaterial">
          <mat-option *ngFor="let mat of allMateriais" [value]="mat" (click)="selecionarMaterial(mat)">
            ID: {{mat.id}} - {{mat.tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>
        <mat-form-field>  
          <input matInput placeholder="Novo Nome do Material" [(ngModel)]="materialTipoUpdate">
        </mat-form-field>
        <p></p>
        <mat-form-field>
          <mat-select placeholder="Lista de Acabamentos" [(ngModel)]="selectedAcabamento">
            <mat-option *ngFor="let acab of allAcabamentos" [value]="acab" (click)="selecionarAcabamento(acab)">
              ID: {{acab.id}} - {{acab.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div style="text-align:left">
          <nav>
            <a (click)="updateMaterialHTML()">Editar Material</a>
          </nav>
        </div>
    </div>

    <div *ngIf="listarMateriais" style="text-align: left">
      <h2>Listar Materiais</h2>
      <p>
        <mat-form-field>
          <mat-select placeholder="Lista de Materiais">
            <mat-option *ngFor="let mat of allMateriais" id="{{mat.id}}" value="">
              ID: {{mat.id}} - {{mat.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </ng-template>
</div>