<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:left">
  <h4>Ferramentas de Gestor de Catálogo</h4>

  <div class="topnav">
    <a class="active" routerLink="/">Home</a>
    <div class="dropdown">
      <div class="dropdown-content">
        <a routerLink="/">Gestão de Produtos</a>
        <a routerLink="/">Gestão de Categorias</a>
        <a routerLink="/">Gestão de Materais</a>
        <a routerLink="/">Gestão de Acabamentos</a>
      </div>
    </div>
  </div>

  <!--
  <mat-form-field>
      <mat-select >
        <mat-option value= "teste">Gestão de Produtos</mat-option>
        <mat-option value= "teste">Gestão de Categorias</mat-option>
        <mat-option value= "teste">Gestão de Materais</mat-option>
        <mat-option value= "teste">Gestão de Acabamentos</mat-option>
    </mat-select>
  </mat-form-field>-->

</div>