<!--The content below is only a placeholder and can be replaced.-->

  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    Tipo de Utilizador:<p></p>
    <nav>
      <a routerLink="/gestor">Gestor de Catálogos</a>
      <a routerLink="/cliente">Cliente</a>
    </nav>

    <!--<mat-radio-group>
      <mat-radio-button value="1">Gestor de Catálogos</mat-radio-button>
      <mat-radio-button value="2">Cliente</mat-radio-button>
    </mat-radio-group>-->
    
  </div>

  <router-outlet></router-outlet>