<div style="text-align:center">
  <p></p>
  <nav>
    <a>Criar Produto</a>
    <a>Listar Produtos</a>
    <a>Editar Produto</a>
    <a>Apagar Produto</a>
  </nav>
</div>

<div style="text-align:center">
  <p></p>
  <mat-form-field>
    <input matInput placeholder="Nome Produto">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Altura">
    <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Largura">
    <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Profundidade">
    <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Categoria">
      <mat-option value="option">Categorias</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Material">
      <mat-option value="option">Material</mat-option>
    </mat-select>
    <mat-hint align="end">Escolher um ou mais materiais</mat-hint>
  </mat-form-field>
  <p></p>
</div>

<div style="text-align:center">
  <nav>
    <a>Criar Produto</a>
  </nav>
</div>