<div style="text-align:left">
  <h4>Opções de Utilização</h4>

  <div class="topnav">
    <a class="active" routerLink="/">Home</a>
    <div class="dropdown">
      <div class="dropdown-content">
        <a routerLink="/cliente/item">Gestão de Items</a>
        <a routerLink="/cliente/encomenda">Gestão de Encomendas</a>
      </div>
    </div>
  </div>

  <!--
    <mat-form-field>
        <mat-select >
          <mat-option value= "teste">Gestão de Items</mat-option>
          <mat-option value= "teste">Gestão de Encomendas</mat-option>
      </mat-select>
    </mat-form-field>-->
</div>
<router-outlet></router-outlet>