<div style="text-align:left">
  <h1>Gestão de Categorias</h1>
  <nav>
    <a (click)="criarCategoriaHTML()">Criar Categoria</a>
    <a (click)="editarCategoriaHTML()">Editar Categoria</a>
    <a (click)="listarCategoriasHTML()">Listar Categorias</a>
  </nav>

  <div *ngIf="statusMessage; else noError">
    <div class="errorMsg">{{statusMessage}}</div>
  </div>

  <ng-template #noError>
    <div *ngIf="criarCategoria" style="text-align: left">
      <h2>Criar Categoria</h2>
      <mat-form-field>
        <input matInput placeholder="Descrição Categoria" #categoriaDescricaoUpdate>
      </mat-form-field>
      <p></p>
      <div style="text-align:left">
        <nav>
          <a (click)="addCategoriaHTML(categoriaDescricaoUpdate.value); categoriaDescricaoUpdate.value=''">Criar Categoria</a>
        </nav>
      </div>
    </div>

    <div *ngIf="listarCategorias" style="text-align: left">
      <h2>Listar Categorias</h2>
      <mat-form-field>
        <mat-select placeholder="Lista de Categorias">
          <mat-option *ngFor="let cat of allCategorias" id="{{cat.id}}" value="">
            ID: {{cat.id}} - {{cat.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="editarCategoria" style="text-align: left">
      <h2>Editar Categoria</h2>
      <mat-form-field>
        <mat-select placeholder="Categoria a Alterar" [(ngModel)]="selectedCategoria">
          <mat-option *ngFor="let cat of allCategorias" [value]="cat" (click)="selecionarCategoria(cat)">
            ID: {{cat.id}} - {{cat.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <mat-form-field>
        <input matInput placeholder="Nova Descrição" [(ngModel)]="categoriaDescricaoUpdate">
      </mat-form-field>
      <p></p>
      <div style="text-align:left">
        <nav>
          <a (click)="updateCategoriaHTML()">Editar Categoria</a>
        </nav>
      </div>
    </div>
  </ng-template>
</div>